html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    padding-bottom: 0px;
    height: 14%;
}



.navbar ul {
    overflow: auto;
}

.navbar li {
    padding: 2px 30px;
    list-style: none;
    float: left;
}

.navbar li a {
    padding: 5px 3px;
    margin: 4px 4px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 1000;   
}

.navbar li :hover {
    background-color: white;
  
}

.navbar li :hover {
    color: black;
}
 

.intro {
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar li img {
    width: 30%;
    height: 25%;
    margin-top: 0px;
}

.intro {
    background-color: #ff970773;
    border-radius: 10px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.flex-container div h1 {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

.flex-container div h3 {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

.flex-container div img {
    height: 100%;
    width: 95%;
    margin-left: 50px;
}

.flex-container {
    display: flex;
}

.flex-container div {
    padding: 10px;
}

.flex-container div button {
    background-color: black;
    border-radius: 5px;
    margin-left: 45px;
    margin-top: 10px;
    box-shadow: -3px 3px gray;

}

.flex-container div button a {
    text-decoration: none;
    color: white;
    font-size: medium;

}

.best_books {
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.best_books h1 {
    font-family: 'Courgette', cursive;
}



.best_books table {
    margin-left: 80px;
    border-spacing: 80px;
}

.best_books td {
    border: 1px solid black;
    padding: 15px;
    padding-top: 5px;
    border-radius: 20px;
    box-shadow: -3px 3px gray;
}

.best_books td div.genre {
    margin-left: 135px;
}

.best_books td strike {
    color: red;
    
}

.best_books td div.price {
    color: green;
    margin-left: 135px;
}

.recommend {
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.recommend h1 {
    font-family: 'Courgette', cursive;
}



.recommend table {
    margin-left: 80px;
    border-spacing: 80px;
}

.recommend td {
    border: 1px solid black;
    padding: 15px;
    padding-top: 5px;
    border-radius: 20px;
    box-shadow: -3px 3px gray;
}

.recommend td div.genre {
    margin-left: 135px;
}

.recommend td strike {
    color: red;

}

.recommend td div.price {
    color: green;
    margin-left: 135px;
}

.search input[type=text] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
}

.search {
    float: right;
    margin: 7px;
    
}

.search button:hover {
    background-color: rgb(255, 115, 0);
}

.search button {
    background-color: blue;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.best_books tr :hover {
    background-color: gold;
}

.recommend tr :hover {
    background-color: gold;
}

.review tr :hover {
    background-color: gold;
}

.review {
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.review h1 {
    font-family: 'Courgette', cursive;
}

.review h3 {
    font-family: 'Courgette', cursive;
}


.rating {
    padding: 15px;
}

#review {
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
    border: 2px solid black;
    border-radius: 15px;
    background-color: wheat;
}

input{
    padding: 5px;
    margin: 10px;
}
textarea {
    margin: 10px;
}



.submit {
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin: 8px;
}


.clear {
    background-color: maroon;
    color: white;
    border-radius: 5px;
    margin: 8px;
}

.reviews table {
    margin-left: 80px;
    border-spacing: 80px;
}

.reviews td {
    border: 1px solid black;
    padding: 15px;
    padding-top: 5px;
    border-radius: 20px;
    box-shadow: -3px 3px gray;
    margin: 15px;
}

.checked {
    color: orange;
}

.footer{
    background-color: black;
    color: #ffff
}

.footer img {
    height: 40%;
    width: 40%;
    margin: 30px;
}

.footer td {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.footer a {
    color: #ffff;
    text-decoration: none;
}

.fa-facebook {
    color: white;
    height: 10px;
    width: 10px;
}

.fa-twitter {
    color: white;
    height: 10px;
    width: 10px;
}

.fa-linkedin {
    color: white;
    height: 10px;
    width: 10px;
}

.fa-instagram {
    color: white;
    height: 10px;
    width: 10px;
}

.social {
    margin-left: 600px;
}


.desc button:hover {
    background-color: grey;
}

.desc button:active {
    background-color: green;
}

footer{
    margin-left: 5px;
}

